<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563088025736-mrf1c7fd00qr7c5k8d14hp7mtlojsh5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563088025736-mrf1c7fd00qr7c5k8d14hp7mtlojsh5t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>563088025736-ebe1kglhqauhf9u01a2n4ca4n1tb7453.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTGkurLTK_heZB94hXiQ1gu9DSTQOum4U</string>
	<key>GCM_SENDER_ID</key>
	<string>563088025736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pickpack</string>
	<key>PROJECT_ID</key>
	<string>pickpack-21e04</string>
	<key>STORAGE_BUCKET</key>
	<string>pickpack-21e04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563088025736:ios:b50af4bd4af9e2d812173d</string>
</dict>
</plist>